<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Scratch Block Usage Overview</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body onload="showtab(event, '<%= tab %>')" style="font-family: sans-serif">
    <h2 style="font-family: sans-serif">Scratch Project Analyzer</h2>
    <br/>
    <a href="https://scratch-analysis.tracygardner.repl.co/478383662/project">Commented Crab</a> <br>
    <a href="https://scratch-analysis.tracygardner.repl.co/474838099/code">Tests</a> 
     <a href="https://scratch-analysis.tracygardner.repl.co/477523989/code">Test 2</a> 

<br/>Code Club Scratch 1: <a href="https://scratch-analysis.tracygardner.repl.co/475843958">Rock Band</a> - <a href="https://scratch-analysis.tracygardner.repl.co/475847071">Lost in Space</a> - <a href="https://scratch-analysis.tracygardner.repl.co/475848083">Ghostbusters</a> 

<br/>LAY 1: <a href="https://scratch-analysis.tracygardner.repl.co/401316899">Stress Ball</a> - <a href="https://scratch-analysis.tracygardner.repl.co/403091557">Butterfly Garden</a> - <a href="https://scratch-analysis.tracygardner.repl.co/401955128">Serene Scene</a> 


<br/><a href="https://scratch-analysis.tracygardner.repl.co/477894192">CATS!</a> - <a href="https://scratch-analysis.tracygardner.repl.co/462841564">Advent of Code Day 12</a> - <a href="https://scratch-analysis.tracygardner.repl.co/477856448/code">Comments</a> - <a href="https://scratch-analysis.tracygardner.repl.co/87829696/analysis">8-bit Music Maker (big)</a>

    <form id="projectIdForm">
      <label for="projectId">Project Id:</label>
      <input id="projectId" name="id" value="<%= projectId %>">
      <input type="submit" value="Show">
    </form>

  <br>

  <h1 id="projecttitle"></h1>

  <div class="tab">
  <button class="tablinks" onclick="showtab(event, 'project')">Project</button>
  <button class="tablinks" onclick="showtab(event, 'code')">Code</button>
  <button class="tablinks" onclick="showtab(event, 'analysis')">Analysis</button>
  <button class="tablinks" onclick="showtab(event, 'assessment')">Assessment</button>
  </div>

<div id="project" class="tabcontent">
  <p id="seeinside"></p>
  <p id="scratchembed"></p>
  
</div>

<div id="analysis" class="tabcontent">
     <div id="datavis" style="display: flex">
        <div id="container"></div>
        <div id="blocks"></div>
    </div>
</div>

<div id="code" class="tabcontent">
  <div id="scripts">
     
  </div>
</div>

<div id="assessment" class="tabcontent">
This section is under development. 

  <div class="assess">
  <h2 style="background-color: gray"> Overview </h2>
  <div id="stats">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ffbf00">Hat Blocks</h2>
  <div id="hat" class="assesscontent">
  

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: gray">Sequencing</h2>
  <div id="sequencing" class="assesscontent">
  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ffbf00">Concurrency (parallelism)</h2>
  <div id="concurrency" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ffab19">Loops (repetition)</h2>
  <div id="repetition" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #40bf4a">Conditional logic (selection) and boolean operators</h2>
  <div id="conditional" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ffbf00">Synchronisation</h2>
  <div id="synchronisation" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #4cbfe6">User interaction</h2>
  <div id="interaction" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ff8c1a">Variables</h2>
  <div id="variables" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ff6680">My blocks (procedures)</h2>
  <div id="procedures" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2>Clones</h2>
  <div id="clones" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #0fbd8c">Extensions</h2>
  <div id="extensions" class="assesscontent">

  </div>
  </div>
</div>

</body>

<script src="/static/scratchblocks-v3.5-min.js"></script>
<script src="https://d3js.org/d3.v5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
<!-- Custom JS -->
<!-- <script src="main.js"></script> -->
<script src="/static/new.js"></script>
<script src="/static/tabs.js"></script>