<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Scratch Block Usage Overview</title>
    <link rel="stylesheet" href="/static/style.css">
  <script src="/static/scratchblocks-v3.6.0-min.js"></script>
<script src="https://d3js.org/d3.v5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
<!-- Custom JS -->
<!-- <script src="main.js"></script> -->
<script src="/static/new.js"></script>
<script src="/static/tabs.js"></script>
</head>
<body onload="showtab(event, '<%= tab %>')" style="font-family: sans-serif">
    <h2 style="font-family: sans-serif">Scratch Project Analyser</h2>
    <br/>
    <a href="https://scratch-analysis.tracygardner.repl.co/478383662/project">Commented Crab</a> <br>

<br/>Intro to Scratch: <a href="https://scratch-analysis.tracygardner.repl.co/485673032">Space talk</a> - <a href="https://scratch-analysis.tracygardner.repl.co/486719199">Catch the bus</a> - <a href="https://scratch-analysis.tracygardner.repl.co/486719939">Find the bug</a> - <a href="https://scratch-analysis.tracygardner.repl.co/495141114">Googly eye character</a> - <a href="https://scratch-analysis.tracygardner.repl.co/495932563">Surprise! story</a> - <a href="https://scratch-analysis.tracygardner.repl.co/499860786">I made you a book</a>

<br/>More Scratch: <a href="https://scratch-analysis.tracygardner.repl.co/518413238">Broadcasting spells</a> - <a href="https://scratch-analysis.tracygardner.repl.co/521688740">Grow a dragonfly</a> - <a href="https://scratch-analysis.tracygardner.repl.co/522323676">Drum star</a> - <a href="https://scratch-analysis.tracygardner.repl.co/525202210">Don't fall in</a> - <a href="https://scratch-analysis.tracygardner.repl.co/528696418">Next customer please!</a> - <a href="https://scratch-analysis.tracygardner.repl.co/530008968">This sprite needs you</a>

<br/>Code Club Scratch 1: <a href="https://scratch-analysis.tracygardner.repl.co/475843958">Rock Band</a> - <a href="https://scratch-analysis.tracygardner.repl.co/475847071">Lost in Space</a> - <a href="https://scratch-analysis.tracygardner.repl.co/475848083">Ghostbusters</a> 

<br/>LAY 1: <a href="https://scratch-analysis.tracygardner.repl.co/401316899">Stress Ball</a> - <a href="https://scratch-analysis.tracygardner.repl.co/403091557">Butterfly Garden</a> - <a href="https://scratch-analysis.tracygardner.repl.co/401955128">Serene Scene</a> 

<br/><a href="https://scratch-analysis.tracygardner.repl.co/477894192">CATS!</a> - <a href="https://scratch-analysis.tracygardner.repl.co/462841564">Advent of Code Day 12</a> - <a href="https://scratch-analysis.tracygardner.repl.co/477856448/code">Comments</a> - <a href="https://scratch-analysis.tracygardner.repl.co/87829696/analysis">8-bit Music Maker (big)</a>

    <form id="projectIdForm">
      <label for="projectId">Project Id:</label>
      <input id="projectId" name="id" value="<%= projectId %>">
      <input type="submit" value="Show">
    </form>

  <br>

  <h1 id="projecttitle"></h1>

  <div class="tab">
  <button class="tablinks" onclick="showtab(event, 'project')">Project</button>
  <button class="tablinks" onclick="showtab(event, 'code')">Code</button>
  <button class="tablinks" onclick="showtab(event, 'analysis')">Analysis</button>
  <button class="tablinks" onclick="showtab(event, 'assessment')">Assessment</button>
  </div>

<div id="project" class="tabcontent">
  <p id="seeinside"></p>
  <p id="scratchembed"></p>
  <p id="instructions"></p>
  <p id="description"></p>
  
</div>

<div id="analysis" class="tabcontent">
     <div id="datavis" style="display: flex">
        <div id="container"></div>
        <div id="blocks"></div>
    </div>
       <div id="datavis2" style="display: flex">
        <div id="container2"></div>
           <table class="blockstable">
     <thead>
     </thead>
     <tbody></tbody>
    </table>
    </div>
</div>

<div id="code" class="tabcontent">
  <div id="scripts">
     
  </div>
</div>

<div id="assessment" class="tabcontent">
This section is under development. 

  <div class="assess">
  <h2 style="background-color: gray"> Overview </h2>
  <div id="stats">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ffbf00">Hat Blocks</h2>
  <div id="hat" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: gray">Sequencing</h2>
  <div id="sequencing" class="assesscontent">
  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ffbf00">Concurrency (parallelism)</h2>
  <div id="concurrency" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ffab19">Loops (repetition)</h2>
  <div id="repetition" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #40bf4a">Conditional logic (selection) and boolean operators</h2>
  <div id="conditional" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ffbf00">Synchronisation</h2>
  <div id="synchronisation" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #4cbfe6">User interaction</h2>
  <div id="interaction" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ff8c1a">Variables</h2>
  <div id="variables" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #ff6680">My blocks (procedures)</h2>
  <div id="procedures" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2>Clones</h2>
  <div id="clones" class="assesscontent">

  </div>
  </div>

  <div class="assess">
  <h2 style="background-color: #0fbd8c">Extensions</h2>
  <div id="extensions" class="assesscontent">

  </div>
  </div>
</div>

<div><a href="https://scratch.mit.edu/">Scratch</a> is developed and maintained by the Scratch Team at the Lifelong Kindergarten group at MIT Media Lab. This site is not affiliated with Scratch.</div>



</body>
</html>
